p {
    color: white;
}

/* HEADER */
.header {
    display: flex;
    margin-top: 25px;
    margin-left: 150px;
    justify-content: space-between;
}

/* PERFIL */
.profile {
    display: flex;
    justify-content: center;
}

.IconProfile {
    width: 40px;
    height: auto;
    border-radius: 100px;
}

.IconVerifiqued {
    width: 20px;
    height: 20px;
    padding-top: 8px;
    margin: 2px;
}

.nameProfile {
    padding-left: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.nameProfile:hover {
    color: aqua;
}

/* NAV */
.navigation {
    display: flex;
    margin-right: 150px;
}

/* LINKS */
.sectionLink {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

/* TEXTO */
.sectionLink span {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #9ca3af;
    text-transform: lowercase;
    letter-spacing: 1px;
}

/* NÚMERO */
.number {
    font-weight: bold;
    opacity: 0.6;
}

/* 🔥 ESTADO ACTIVO (corregido) */
.active span {
    color: #ffffff;
}

.active .number {
    opacity: 1;
}

/* LÍNEA INFERIOR */
.sectionLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background: #ff2d75;
    transition: width 0.3s ease;
}

/* HOVER */
.sectionLink:hover::after {
    width: 100%;
}

/* ACTIVO */
.active::after {
    width: 100%;
}